/* FONTS */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}  

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
  padding: 60px 20px;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img:hover {
    cursor: default;
}

/* NAV BAR */

nav {
    height: 60px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 35px;
    display: flex;
    z-index: 2;
    width: 100%;
    left: 0;
    right: 5px;
    padding-top: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 65%;
    gap: 2rem;
}

nav, .nav-links {
    display: flex;
}

nav a {
    color: #4e3727;
    text-decoration: none;
    
}

nav a:hover {
    color: rgba(0, 0, 0, 0.75);
}

nav ul {
    list-style-type: none;
}

nav li {
    padding: 8px;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* MAIN VIDEO */

.main-picture {
  width: 100%;
  max-height: 950px;
  object-fit: cover;
  object-position: center -3px;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.overlay-logo {
  position: absolute;
  top: 400px;
  left: 80%;
  transform: translateX(-50%);
  height: 200px;
  z-index: 3;
}

.quote {
    color: #8b664d;
    position: absolute;
    top: 730px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    height: 200px;
    z-index: 3;
    font-size: 25px;
    font-style: italic;
}

/* HEADER SECTION */

.hero {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

/* ABOUT SECTION */

#about {
  width: 100%;
}

#about-img-1 {
    height: 500px;
}

#about-img-2 {
    height: 500px;
}

#about a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.about h1, .about h2 {
    margin-bottom: 10px;
}

.about .citation {
    text-align: center;
    font-style: italic;
    font-weight: 500;
    color: #5f6f54;
    margin-top: 70px;
}

.about-text {
    line-height: 1.8;
    color: black;
}

.about {
    max-width: 1920px;
    margin: 0;
    padding: auto 0 0 0;
    text-align: center;
}

.about-paragraphs {
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 700px;
  margin-right: 700px;
}

.about-text {
  flex: 1 1 250px;
  max-width: 500px;
  line-height: 1.6;
  color:black;
  text-align: center;
}

.about-images {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.about a.cta {
  display: inline-block;
  margin-top: 30px;
  background-color:rgba(95, 111, 84, 0.5);
  color: beige;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.about a.cta:hover {
  background-color: rgb(95, 111, 84);
}

/* SERVICES SECTION */

.services {
    padding-bottom: 20px;
    padding-top: 30px;
}

#services {
    text-align: center;
}

/* PORTFOLIO-GALERIE SECTION */

.portfolio {
    padding-top: 10px;
}

#portfolio h1 {
    text-align: center;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 500px;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    background-color: black;
    color: white;
    border: solid white 1px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}

/* GALLERY */

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* CONTACT SECTION */

#contact {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    height: 50vh;
}

.contact-title {
    margin-bottom: 1rem;
}
input textarea button {
    border-radius: 5px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 50px;
}

input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    height: 50px;
}

form textarea {
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 90px;
    padding: 12px 20px;
}

form button {
    background-color: rgba(95, 111, 84, 255);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(65, 79, 65);
    color: beige;
}

/* FOOTER SECTION */

footer {
    background-color: rgba(95, 111, 84, 0.5);
    text-align: center;
    font-size: 17px;
    padding: 20px 0 20px 0;
}